.carritoButton{
    background-color: transparent;
    border: 0 solid transparent;
    position: relative;
}

.carrito{
    color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    transition: all .5s;
}

.carritoButton:hover .carrito{
    color: rgba(67, 255, 230, 0.979);
}

.carritoItems{
    position: absolute;
    bottom: -5px;
    right: 0;
    border-radius: 1rem;
    background-color: rgb(255, 38, 38) !important; 
    color: rgb(255, 255, 255);

}
